@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  //   text styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;

    ul {
      text-align: center;
      justify-content: center;
    }

    h1 {
      margin-bottom: 1rem;
    }
  }

  //   boxes
  .boxes {
    grid-template-areas:
      "top"
      "box-1"
      "box-2"
      "box-3";
  }

  .landing-2 {
    height: 150vh;
  }
  .boxes-1 {
    grid-template-areas:
      "top"
      "box-1"
      "box-2"
      "box-3";
  }

  // Footer
  footer {
    .boxes-f {
      display: flex;
      flex-direction: column;
    }
  }
}
